@model IEnumerable<BugTracker.Models.Ticket>
<link href="Site.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Création ticket";
}

<h2>Création ticket</h2>

<p class="btn btn-inverse" style="float: left; margin-right: 20px; margin-bottom: 20px;">
    @Html.ActionLink("Créer nouveau ticket", "Create")
</p>
<<<<<<< HEAD
<p class="btn btn-inverse">
    @Html.ActionLink("Voir tous les tickets non résolu", "NotResolved")
=======
<p>
    @Html.ActionLink("Voir tous les tickets non résolu", "NotResolved", null, new {@class = "text-white !important" });
>>>>>>> ddf3c5d0359b2abb9971ae22fd34a70eb299c4d2
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sujet)       
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            <span>Date de création</span>
<<<<<<< HEAD
=======
        </th>
        <th>
            <span>Date de modification </span>
>>>>>>> ddf3c5d0359b2abb9971ae22fd34a70eb299c4d2
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Application)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sujet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importance)
        </td>
        <td>
            @Html.ActionLink("Editer", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Détails", "Details", new { id=item.ID }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.ID }) |
        </td>
    </tr>
}

</table>
