@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewBag.Title = "Création ticket";
}

<h2>Création ticket</h2>

<p class="btn btn-inverse" style="float: left; margin-right: 20px; margin-bottom: 20px;">
    @Html.ActionLink("Créer nouveau ticket", "Create")
</p>
<p class="btn btn-inverse">
    @Html.ActionLink("Voir tous les tickets non résolu", "NotResolved")
</p>

@using (Html.BeginForm())
{
<p>
    Trouver par Sujet: @Html.TextBox("SearchString")
    <input type="submit" value="Search" />
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Sujet", "Index", new { sortOrder = ViewBag.SujetSortParm })
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescriptionSortParm })
        </th>
        <th>
            @Html.ActionLink("Date de Creation", "Index", new { sortOrder = ViewBag.DateCreationSortParm })
        </th>
        <th>
            @Html.ActionLink("Date de Modification", "Index", new { sortOrder = ViewBag.DateModificationSortParm })
        </th>
        <th>
            @Html.ActionLink("Application", "Index", new { sortOrder = ViewBag.ApplicationSortParm })
        </th>
        <th>
            @Html.ActionLink("Statut", "Index", new { sortOrder = ViewBag.StatutSortParm })
        </th>
        <th>
            @Html.ActionLink("Importance", "Index", new { sortOrder = ViewBag.ImportanceSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sujet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importance)
        </td>
        <td>
            <div class="btn btn-inverse">@Html.ActionLink("Editer", "Edit", new { id = item.ID })</div> |
            <div class="btn btn-inverse">@Html.ActionLink("Détails", "Details", new { id = item.ID })</div> |
            <div class="btn btn-inverse">@Html.ActionLink("Supprimer", "Delete", new { id = item.ID })</div> |
</td>
    </tr>
}

</table>
